<section>
    <p-tabView>
        <p-tabPanel header="{{ 'campaigns.active' | translate }}">
            <!-- Contenido de campañas activas -->
            <div class="campaigns-finished-list">
                <div *ngFor="let campaign of activeCampaigns" class="campaign-card w-full max-w-4xl mx-auto my-4 flex flex-col md:flex-row items-stretch">
                    <img [src]="campaign.image" alt="Imagen campaña" class="w-full md:w-64 h-40 object-cover rounded-t-md md:rounded-l-md md:rounded-tr-none mb-4 md:mb-0" />
                    <div class="flex-1 flex flex-col justify-center px-4 py-2">
                        <h3 class="campaign-title text-xl font-bold text-primary-700 mb-2">
                            {{ ('campaigns.titles.' + campaign.title) | translate }}
                        </h3>
                        <div class="info-row">
                            <span class="info-title">{{ 'campaigns.date_from' | translate }}:</span>
                            <span class="info-value">&nbsp;{{ formatDate(campaign.dateFrom) }}</span>
                            <span class="mx-2">|</span>
                            <span class="info-title">{{ 'campaigns.date_to' | translate }}:</span>
                            <span class="info-value">&nbsp;{{ formatDate(campaign.dateTo) }}</span>
                            <span class="mx-2">|</span>
                            <span class="info-title">{{ 'campaigns.duration' | translate }}:</span>
                            <span class="info-value">&nbsp;{{ campaign.duration }} {{ 'campaigns.months' | translate }}</span>
                        </div>
                        <div class="info-row">
                            <span class="info-title">{{ 'campaigns.goal' | translate }}:</span>
                            <span class="info-value">&nbsp;{{ campaign.goal }}</span>
                            <span class="ml-2 text-gray-500">&nbsp;{{ campaign.goal_text }}</span>
                        </div>
                        <div class="info-row">
                            <span class="info-title">{{ 'campaigns.progress' | translate }}:</span>
                            <span class="info-value">&nbsp;{{ campaign.result }}</span>
                            <span class="ml-2 text-gray-500">&nbsp;{{ 'campaigns.collected_so_far' | translate }}</span>
                        </div>
                        <div class="info-row">
                            <span class="info-title">{{ 'campaigns.contact' | translate }}:</span>
                            <span class="info-value">&nbsp;{{ campaign.phone }}</span>
                            <span class="mx-2">|</span>
                            <span class="info-value">{{ campaign.email }}</span>
                            <p-button 
                                pRipple 
                                type="button"
                                severity="success" 
                                styleClass="ml-4"
                                icon="bi bi-currency-dollar"
                                [label]="'campaigns.collaborate' | translate"
                                (click)="goToDonate()">
                            </p-button>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="{{ 'campaigns.finished' | translate }}">
            <div style="min-height: 67vh; height: 67vh; max-height: 67vh; padding: 0 0;">
                <ng-container *ngIf="finishedCampaigns.length > 0; else noCampaigns">
                    <div class="campaigns-finished-list">
                        <div *ngFor="let campaign of finishedCampaigns" class="campaign-card w-full max-w-4xl mx-auto my-4 flex flex-col md:flex-row items-stretch">
                            <img [src]="campaign.image" alt="Imagen campaña" class="w-full md:w-64 h-40 object-cover rounded-t-md md:rounded-l-md md:rounded-tr-none mb-4 md:mb-0" />
                            <div class="flex-1 flex flex-col justify-center px-4 py-2">
                                <div class="status-icon md:static absolute top-2 right-2 md:top-2 md:right-2">
                                    <i class="pi" [ngClass]="campaign.achieved ? 'pi-check-circle text-green-500' : 'pi-times-circle text-red-500'" style="font-size: 2rem;"></i>
                                </div>
                                <h3 class="campaign-title text-xl font-bold text-primary-700 mb-2">
                                    {{ ('campaigns.titles.' + campaign.title) | translate }}
                                </h3>
                                <div class="info-row">
                                    <span class="info-title">{{ 'campaigns.date' | translate }}:</span>
                                    <span class="info-value">&nbsp;{{ formatDate(campaign.dateFrom) }}</span>
                                </div>
                                <div class="info-row">
                                    <span class="info-title">{{ 'campaigns.goal' | translate }}:</span>
                                    <span class="info-value">&nbsp;{{ campaign.goal }}</span>
                                    <span class="ml-2 text-gray-500">&nbsp;{{ campaign.goal_text }}</span>
                                </div>
                                <div class="info-row">
                                    <span class="info-title">{{ 'campaigns.result' | translate }}:</span>
                                    <span class="info-value">&nbsp;{{ campaign.result }}</span>
                                    <span class="ml-2 text-gray-500">&nbsp;{{ campaign.result_text }}</span>
                                </div>
                                <div class="info-row">
                                    <span class="info-title">{{ 'campaigns.date_from' | translate }}:</span>
                                    <span class="info-value">&nbsp;{{ formatDate(campaign.dateFrom) }}</span>
                                    <span class="mx-2">|</span>
                                    <span class="info-title">{{ 'campaigns.date_to' | translate }}:</span>
                                    <span class="info-value">&nbsp;{{ formatDate(campaign.dateTo) }}</span>
                                    <span class="mx-2">|</span>
                                    <span class="info-title">{{ 'campaigns.duration' | translate }}:</span>
                                    <span class="info-value">&nbsp;{{ campaign.duration }} {{ 'campaigns.months' | translate }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noCampaigns>
                    <div class="text-center text-gray-500 py-8">No hay campañas finalizadas.</div>
                </ng-template>
            </div>
        </p-tabPanel>
    </p-tabView>
</section>
