section {
  padding: 10px;
  height: calc(100vh - 92px);
  width: 100vw;
  overflow-x: hidden;
  background: rgb(255 255 255 / 50%);
}

// #informe {
//   background: rgb(255 255 255 / 50%);
// }
// #imagenes {
//   background: rgb(255 255 255 / 50%);
// }