
section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 200;
    background: linear-gradient(
        to top,
        var(--p-green-500),
        var(--p-green-900)
    ) !important;
    border-bottom: 1px solid var(--p-green-950);
}

:host ::ng-deep .p-menubar {
    background: linear-gradient(
        to top,
        var(--p-green-500),
        var(--p-green-900)
    ) !important;
    border: none;
    border-radius: 0;
}

:host ::ng-deep .p-menubar .p-menuitem-text {
    color: var(--p-emerald-50)!important;
}
:host ::ng-deep .p-menubar .p-menuitem-text:hover {
    color: #fff !important;
    background: linear-gradient(
        to top,
        var(--p-green-500),
        var(--p-green-900)
    ) !important;
    border-radius: var(--p-menubar-border-radius);
}
:host ::ng-deep .p-menubar-item-link {
    color: var(--p-emerald-50)!important;
}
:host ::ng-deep .p-menubar-item-link:hover {
    color: #fff !important;
    background: linear-gradient(
        to top,
        var(--p-green-500),
        var(--p-green-900)
    ) !important;
    border-radius: var(--p-menubar-border-radius);
}
:host ::ng-deep .p-menubar-submenu {
    display: none;
    position: absolute;
    min-width: 12.5rem;
    z-index: 1;
    background: linear-gradient(
        to top,
        var(--p-green-500),
        var(--p-green-900)
    ) !important;
    border: 1px solid var(--p-green-950);
    border-radius: var(--p-menubar-border-radius);
    box-shadow: var(--p-menubar-submenu-shadow);
    color: var(--p-menubar-submenu-color);
    flex-direction: column;
    padding: var(--p-white);
    // padding: var(--p-menubar-submenu-padding);
    gap: var(--p-menubar-submenu-gap);
}
:host ::ng-deep .p-menubar-item-active > .p-menubar-item-content{
    color: var(--p-emerald-50)!important;
    background: linear-gradient(
        to top,
        var(--p-green-500),
        var(--p-green-900)
    ) !important;
}

:host ::ng-deep .p-menubar-root-list > .p-menubar-item >.p-menubar {
    color: var(--p-white) !important;
    background: linear-gradient(
        to top,
        var(--p-green-500),
        var(--p-green-900)
    ) !important;
    border-radius: var(--p-menubar-border-radius);
}
:host ::ng-deep .p-menubar-item.p-focus > .p-menubar-item-content {
    // color: var(--p-menubar-item-focus-color);
    // background: var(--p-menubar-item-focus-background);
    color: var(--p-white) !important;
    background: linear-gradient(
        to top,
        var(--p-green-500),
        var(--p-green-900)
    ) !important;
    border-radius: var(--p-menubar-border-radius);
}

:host ::ng-deep .p-button-text {
    background: transparent;
    border-color: transparent;
    color: var(--p-emerald-50)!important;
}

:host ::ng-deep .p-button-text:hover {
    background: linear-gradient(
        to top,
        var(--p-green-500),
        var(--p-green-900)
    ) !important;
    border-radius: var(--p-menubar-border-radius);
    color: #fff !important;
    border: 0
}

a{
   color: var(--p-emerald-50)!important; 
}
a:hover{
    color: #fff !important;
    background: linear-gradient(
        to top,
        var(--p-green-500),
        var(--p-green-900)
    ) !important;
    border-radius: var(--p-menubar-border-radius);
    text-decoration: none;
}
