.watermark-bg {
//   min-height: calc(100vh - 92px); /* Ajusta según el alto de tu navbar+footer */
  background: url('/assets/images/fondo-50.png') center center no-repeat;
  background-size: cover; /*contain o 'cover' según prefieras */
  position: relative;
  z-index: 1;
}